<!DOCTYPE html>
<script>
function addDrink(){
fetch("/drinks", {
  method: "POST",
  body: JSON.stringify({
    "name": document.getElementById("name").value,
    "description": document.getElementById("description").value
  }),
  headers: {
    "Content-type": "application/json; charset=UTF-8"
  }
})
  .then((response) => response.json())
  .then((json) => console.log(json));
}

function deleteDrink(){
fetch(`/drinks/${document.getElementById("id").value}`, {
  method: "DELETE",
  body: JSON.stringify({}),
  headers: {
    "Content-type": "application/json; charset=UTF-8"
  }
})
  .then((response) => response.json())
  .then((json) => console.log(json));
}
</script>

<html>
<body>

<h1>Flask API</h1>
<hr>
<h2>We have drinks!</h2>

<div>We have {{ drinks }} drinks.</div>

<a href="/drinks">Drinks are here</a><br />

<hr>

<h2>Add drinks here</h2>
<div>For adding a drink fill "name" and "description" input fields and press "Add drink" button.</div>

Enter drink name:<br />
<input type="text" width="20" content="asd" name="name" id="name" required pattern="\S+" style="margin-bottom: 5px;"><br />
Enter drink description: <br />
<input type="text" width="20" name="description" id="description" required pattern="\S+" style="margin-bottom: 5px;"><br />
<button onclick="addDrink()" width="30">Add drink</button>

<hr>

<h2>Delete drinks here</h2>
<div>For deleting a drink please enter drink ID and press "Delete drink" button.</div>
Enter ID:<br />
<input type="text" width="20" name="id" id="id" required pattern="\S+" style="margin-bottom: 5px;"><br />
<button onclick="deleteDrink()" width="30">Delete drink</button>
<br />
<hr>


</body>
</html>