<!DOCTYPE html>
<script>
function addDrink(){
fetch("http://127.0.0.1:5000/drinks", {
  method: "POST",
  body: JSON.stringify({
    "name": document.getElementById("name").value,
    "description": document.getElementById("name").value
  }),
  headers: {
    "Content-type": "application/json; charset=UTF-8"
  }
})
  .then((response) => response.json())
  .then((json) => console.log(json));
}

function deleteDrink(){
fetch("http://127.0.0.1:5000/drinks", {
  method: "DELETE",
  body: JSON.stringify({
    "id": document.getElementById("id").value
  }),
  headers: {
    "Content-type": "application/json; charset=UTF-8"
  }
})
  .then((response) => response.json())
  .then((json) => console.log(json));
}
</script>

<html>
<body>

<h1>Flask API</h1>
<h2>We have drinks!</h2>
<div>We have {{ drinks }} drinks.</div>

<h2>Add drinks here</h2>
<div>For adding a drink fill "name" and "description" input fields and press "Add drink" button.</div>

Enter name:<br />
<input type="text" width="20" content="asd" name="name" id="name" required pattern="\S+" style="margin-bottom: 5px;"><br />
Enter Description: <br />
<input type="text" width="20" name="description" id="description" required pattern="\S+" style="margin-bottom: 5px;"><br />
<button onclick="addDrink()" width="30">Add drink</button>


<h2>Delete drinks here</h2>
<div>For deleting drink enter drink ID and press "Delete drink" button.</div>
Enter ID:<br />
<input type="text" width="20" name="id" id="id" required pattern="\S+" style="margin-bottom: 5px;"><br />
<button onclick="deleteDrink()" width="30">Delete drink</button>

</body>
</html>